body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #222222;
}

#root {
  padding: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 8px;
  margin: 0;
  color: aliceblue;
  background: transparent;
  border: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
